:root{
    --yellow:#ffc600;
    --black:#272727;
}

html{
    box-sizing:border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 10px;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

body{
    background-image: url(./1-unsplash.jpg);
    margin: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: -1px;
}

/* Each item in our grid will contain number */
.item{
    /* We center the contents of these items. we can also do this with flexbox too!  */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-size: 35px;
    background-color: var(--yellow);
}
/* Sizing Tracks */
.container{
    display: grid;
    gap: 10px;
    border: 2px solid black;
    /* This 1fr property will fill the free space available */
    /* grid-template-columns: 100px 200px 1fr; */
    /* grid-template-columns: 100px 200px 1fr 2fr; */
    /* grid-template-columns: auto 1fr 2fr; */
    /* grid-template-columns: auto 1fr 1fr;
    grid-template-columns: auto repeat(2, 1fr); */
    /* grid-template-columns: auto 1fr 2fr 1fr 2fr; */
    grid-template-columns: auto repeat(2, 1fr 2fr);
}